.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #eee8ffe0 10%, #e4cefd81 100%);
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.2;
  margin: 10px 0;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* Small Devices, Tablets */
/* @media only screen and (min-width : 576px) and (max-width : 767px) { */
/* Estilos para tablets */
/* } */

/* Medium Devices, Desktops */
/* @media only screen and (min-width : 768px) and (max-width : 991px) { */
/* Estilos para pantallas medianas */
/* } */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width : 992px) and (max-width : 1199px) { */
/* Estilos para pantallas grandes */
/* } */

/* Extra Large Devices, Large Screens */
/* @media only screen and (min-width : 1200px) { */
/* Estilos para pantallas extra grandes */
/* } */
