
.container {
  transition: 0.1s all linear;
    margin-top: 25px;
    margin-bottom: 65px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    background-color: #ffffff71;
    min-width: 45vw;
    border-radius: 10px;
  }

  .container:hover {
    background-color: #ffffffb7;
  }
  
  
  /* !RESPONSIVE */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    /* Estilos para dispositivos móviles */
 
    .container {
      margin-top: 0px;
      min-width: 35vw;
      margin-bottom: 25px;
    }
  }