* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

/* Ocultar el indicador de scroll en todos los navegadores */
body::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}


body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll; /* necesario para ocultar el indicador de scroll en Edge */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  height: 100%;
      /* make background-image gradient  neumorphism with the url of "assets/profile.webp  */
    background-image: url("assets/profile.webp"), linear-gradient(135deg, #0063d4 10%, #9679c4 100%);

      background-blend-mode: overlay;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*! ButtonLink */

.important-blue {
  animation: color-change-blue 4s infinite;
}

@keyframes color-change-blue {
  0% {
    background-color: #0068b5;
  }

  25% {
    background-color: #00aaff;
  }

  50% {
    background-color: #0068b5;
  }

  75% {
    background-color: #00aaff;
  }

  100% {
    background-color: #0068b5;
  }
}

/*! Spotify */

.spotify-player iframe{

}