:root {
  --main: #0084b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  height: 100%;
      /* make background-image gradient  neumorphism with the url of "assets/profile.webp  */
    background-image: url("assets/profile.webp"), linear-gradient(135deg, #0063d4 10%, #9679c4 100%);

      background-blend-mode: overlay;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*! ButtonLink */

.btn-link {
  transition: all 0.07s ease-in-out;
  background-color: var(--main);
  color: azure;
  min-width: 400px;
  padding: 15px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.important-blue {
  animation: color-change-blue 4s infinite;
}

.important-red {
  animation: color-change-red 4s infinite;
}

@keyframes color-change-blue {
  0% {
    background-color: var(--main);
  }

  25% {
    background-color: #00aaff;
  }

  50% {
    background-color: var(--main);
  }

  75% {
    background-color: #00aaff;
  }

  100% {
    background-color: var(--main);
  }
}

/* @keyframes color-change-red {
  0% {
    color: #d16b6b;
  }

  25% {
    color: #991d1d;
  }

  50% {
    color: #d16b6b;
  }

  75% {
    color: #991d1d;
  }

  100% {
    color: #d16b6b;
  }
} */

.btn-link:hover {
  background-color: #00aaff;
  animation: none;
  transform: scale(1.03);
  transition: all 0.1s ease-in-out;
}

.btn-link:active {
  background-color: #005d8b;
  animation: none;
  transform: scale(1);
  transition: all 0..8s ease-in-out;
}

a {
  color: var(--main);
  text-decoration: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  /* Estilos para dispositivos móviles */

  .btn-link {
      transition: all 0.07s ease-in-out;
      background-color: var(--main);
      color: azure;
      min-width: 200px;
      padding: 10px;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.2;
    }
}