:root {
  --main: #0084b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  height: 100%;
      /* make background-image gradient  neumorphism with the url of "assets/profile.webp  */
    background-image: url("assets/profile.webp"), linear-gradient(135deg, #0063d4 10%, #9679c4 100%);

      background-blend-mode: overlay;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}