.spotify-player {
max-height: 180px;
display: flex;
flex-direction: column;
align-items: space-between;
justify-content: space-between;
margin-bottom: -4vw;
min-width: 23vw;
  }

  /* modern interactive styles for loading "p" for a element in a component */
  .spotify-player p {
    margin: 0;
    font-size: 14px;
    color: #333;
    transition: color 0.2s ease-in-out;
  }

  .loading {
  text-align: center;
  margin-top: 10px;
}

.loading p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.loading .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loading .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1db954;
  margin: 0 4px;
  animation: jump 0.5s ease-in-out infinite;
}

.loading .dot:nth-child(1) {
  animation-delay: 0s;
}

.loading .dot:nth-child(2) {
  animation-delay: 0.1s;
}

.loading .dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
  
  .spotify-player h2 {
    /* background: linear-gradient( 135deg, #ff9cac 10%, #F0F0F0 100%) ; */
    padding: 1%;
    color: #b94747;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    text-align: center;
    font-size: medium;
  }
  
  .spotify-player iframe {
    width: 100%;
    border: none;
  }

  /* !RESPONSIVE */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    /* Estilos para dispositivos móviles */
  
    .spotify-player h2 {
      font-size: 13.7px;
      margin-bottom: 10px;
    }
  
    .container {
      margin-top: 0px;
    }

    .spotify-player{
      margin-bottom: -9vw;
    }

  }

@media only screen and (min-width : 576px) and (max-width : 767px) {
/* Estilos para tablets */
    
    .spotify-player h2 {
      font-size: 13.7px;
      margin-bottom: 10px;
    }
    
    .container {
      margin-top: 0px;
    }
    
    }

    /* Medium Devices, Desktops */
@media only screen and (min-width : 768px) and (max-width : 991px) {
/* Estilos para pantallas medianas */
.spotify-player{
  margin-bottom: -3.5vw;
}


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
/* Estilos para pantallas grandes */
.spotify-player{
  margin-bottom: -3.5vw;
}
}

/* Extra Large Devices, Large Screens */
@media only screen and (min-width : 1200px) {
/* Estilos para pantallas extra grandes */
.spotify-player{
  margin-bottom: -2vw;
}
}